In [3]:
import torch
from torch_geometric.data import Data
from torch_geometric.nn import GCNConv
import torch.nn as nn
import torch.nn.functional as F

In [4]:
import pandas as pd
conveyors = pd.read_csv("data/Conveyors.csv", quotechar='"')
conveyors.head()

,Position,Name,Quantity,ConveyorWidth_mm,BeltWidth_mm,DriveToTensionDistance_m,BeltLength_m,NetBeltLength_m,Facility Area,Condition
0,1,40,1,2000,1600,196,407,398,1,"Работает с 1988г., металическая часть подвергл..."
1,2,41,1,2000,1600,202,427,408,1,NaN
2,3,42,1,2000,1600,32,70,67,1,NaN
3,4,41a,1,2000,1600,17,39,36,1,Работает с 2003г. металическая часть подвергла...
4,5,42a,1,1200,1600,28,61,58,1,Работает с 2019г. В нормальном состаяние.Бетон...